<!DOCTYPE html>
<html>

<head>
    <title>Add Medicine</title>
</head>

<body>
    <h3>Add an item</h3>
    {{!-- When the user posts this form it will create a POST request to the /save URL. the input fields "name" and "price" will be available to us
    in the route /save  --}}
    <form action="/save" method="POST">
        <input type="text" name="name" />
        <input type="number" name="price" />
        <button type="submit" value="submit">Add</button>
    </form>
    <a href="/">Home</a>
</body>

</html>