<!DOCTYPE html>
<html>

<head>
  <title>Medicine</title>
</head>

<body>
  <h3>Welcome to my pharmacy</h3>
  <ul>
    {{#each drugs}}
    {{!-- This handlebars templating language goes through the injected data called drugs, and for every drug, displays the name and price --}}
    <li>{{name}} will cost you ${{price}}</li>
    {{/each}}
  </ul>
  <a href="/add">Add new item</a>
</body>

</html>